body{
   background-color: grey;
} 
h1{
    font-size: 40px;
}
.container{
    text-align: center;
}
table{
    margin:auto;
}
input{
    font-size: 34px;
    border-radius: 21px;
    border: 5px solid black;
}
button{
    font-size: 40px;
    background-color: #0ef;
    width: 102px;
    height: 90px;
    border-radius: 18px;
    
}
.calculator{
    background-color: #443838a1;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    border: 6px solid black;

}